A.menu {
	COLOR: #ffffff; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #ecbf03; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
FONT.text_8_w {
	COLOR: #FFFFFF; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none }

FONT.text_8 {
	COLOR: #000066; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none}

FONT.text_8_mark {
	COLOR: #A00000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none}

FONT.text_9 {
	COLOR: #000066; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none}

FONT.text_9_mark {
	COLOR: #A00000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none}

FONT.text_10 {
	COLOR: #000066; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none;
}
FONT.text_10_mark {
	COLOR: #A00000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none;
}
FONT.text_10_bl {
	COLOR: #000066; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; BLINK: true;
}
FONT.text_11_bl {
	COLOR: #000066; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; BLINK: true;
}
FONT.text_11 {
	COLOR: #000066; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
FONT.text_12 {
	COLOR: #000066; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
FONT.text_18 {
	COLOR: #0A5736; FONT-FAMILY: "Times New Roman", Geneva, sans-serif; FONT-SIZE: 18pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
FONT.text_22 {
	COLOR: #0A5736; FONT-FAMILY: "Times New Roman", Geneva, sans-serif; FONT-SIZE: 22pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
FONT.text_25 {
	COLOR: #0A5736; FONT-FAMILY: "Times New Roman", Geneva, sans-serif; FONT-SIZE: 22pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
FONT.text_th {
	COLOR: #b20000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold;TEXT-DECORATION: none;
}
FONT.text_th9 {
	COLOR: #b20000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold;TEXT-DECORATION: none; 
}
FONT.text_th_sm {
	COLOR: #b90000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold;TEXT-DECORATION: none;
}
.text_f8 { font-family: Arial; font-size: 8pt; background-color: #FFFFFF; color: #000066; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: center}

.text_f8_short { font-family: Arial; font-size: 8pt; background-color: #FFFFFF; color: #000066; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: center; text-align: center }

.text_f9 { font-family: Arial; font-size: 9pt; background-color: #FFFFFF; color: #000066; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: center}

.text_f9_short { font-family: Arial; font-size: 9pt; background-color: #FFFFFF; color: #000066; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: center; text-align: center }

.text_f9_small { font-family: Arial; font-size: 9pt; background-color: #FFFFFF; color: #000066; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: center; text-align: left }

.text_f10 { font-family: Arial; font-size: 10pt; background-color: #FFFFFF; color: #000066; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: left center }

.text_f10_short { font-family: Arial; font-size: 10pt; background-color: #FFFFFF; color: #000066; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: center; text-align: center }

.text_f11 { font-family: Arial; font-size: 11pt; background-color: #FFFFFF; color: #000066; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: left center }

.text_f11_small { font-family: Arial; font-size: 11pt; background-color: #FFFFFF; color: #000066; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: left center }

.text_f11_sh_b { font-family: Arial; font-size: 10pt; background-color: #FFFFFF; color: #000066; position: relative; border: 1 solid #7F9DB9; padding: 0; font-weight: bold; background-position: center; text-align: center }

.text_f11_short { font-family: Arial; font-size: 11pt; background-color: #FFFFFF; color: #000066; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: center; text-align: center }

.text_th_ab { font-family: "Arial"; font-weight: bold; font-size: 12pt; text-decoration: none; color: #1F4C32 }

FONT.message { COLOR: #b20000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold;TEXT-DECORATION: none; }

.button { font-family: Arial; font-size: 9pt; font-weight: bold; color: #1F4C32; background-color: #FFDFAF; border: 1 solid #1F4C32 
}
.button_sd { font-family: Arial; font-size: 9pt; font-weight: bold; color: #1F4C32; background-color: #FFDFAF; border: 1 solid #1F4C32; position:relative; top: 7 }

.link_b_11   { font-family: "MS Sans Serif", Geneva, sans-serif; font-weight: bold; font-size: 11pt; text-decoration: none; color: #1F4C32 }

.link_b_11_A  { font-family: "Arial"; font-weight: bold; font-size: 11pt; text-decoration: none; color: #1F4C32 }
.link_b_11_A:hover { font-family: "Arial"; font-weight: bold; font-size: 11pt; text-decoration: none; color: #b00000 }

.link_b_9_A  { font-family: "Arial"; font-weight: bold; font-size: 9pt; text-decoration: none; color: #1F4C32 }
.link_b_9_A:hover { font-family: "Arial"; font-weight: bold; font-size: 9pt; text-decoration: none; color: #b00000 }

.link_hov {
	COLOR: #ffffff; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.link_hov:hover {
	COLOR: #ecbf03; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}

.link_hov_blue {
	COLOR: #000097; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.link_hov_blue:hover {
	COLOR: #ec0003; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}

.select_f1 { font-family: Arial,Times New Roman; font-size: 9pt; background-color: #FFFFFF;  color: #000066; font-weight: normal; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: left; BORDER-BOTTOM-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-TOP-COLOR: #000000; }

.select_f2 { font-family: Arial,Times New Roman; font-size: 10pt; background-color: #FFFFFF;  color: #000066; font-weight: normal; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: left; BORDER-BOTTOM-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-TOP-COLOR: #000000;}

.select_fix_width { font-family: Arial,Times New Roman; font-size: 10pt; background-color: #FFFFFF;  color: #000066; font-weight: normal; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: left; BORDER-BOTTOM-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-TOP-COLOR: #000000;}

.select_f3 { font-family: Arial,Times New Roman; font-size: 8pt; background-color: #FFFFFF;  color: #000066; font-weight: normal; position: relative; border: 1 solid #7F9DB9; padding: 0; background-position: left; BORDER-BOTTOM-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-TOP-COLOR: #000000;}

.warning     { font-family: Arial,Times New Roman; font-size: 13pt; text-decoration: none; color: #FF0000; font-weight: bold }

.checkbox_1  {}

.radio_b1  {  }

FONT.target_name { COLOR: #FFFFFF; FONT-FAMILY: Arial, "Times New Roman"; FONT-SIZE: 18pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; TEXT-TRANSFORM: uppercase; }
FONT.sub_target_name { COLOR: #FFFFFF; FONT-FAMILY: Arial, "Times New Roman"; FONT-SIZE: 13pt; FONT-WEIGHT: bold; TEXT-DECORATION: none; TEXT-TRANSFORM: uppercase; }
FONT.sub_name  { COLOR: #FF0000; FONT-FAMILY: "Arial Black",Arial, "Times New Roman"; FONT-SIZE: 15pt; FONT-WEIGHT: normal; TEXT-DECORATION: none; TEXT-TRANSFORM: uppercase; }
FONT.sub_name2 { COLOR: #FF0000; FONT-FAMILY: "Arial Black",Arial, "Times New Roman"; FONT-SIZE: 12pt; FONT-WEIGHT: normal; TEXT-DECORATION: none; TEXT-TRANSFORM: uppercase; }

BODY { COLOR: #0000A6; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; scrollbar-face-color: #C5D5FC; scrollbar-highlight-color: #FFFFFF; scrollbar-shadow-color: 9FB5D2; scrollbar-3dlight-color: #FBFBF9; scrollbar-arrow-color: #4D6185; scrollbar-track-color: #F4F1EC; scrollbar-darkshadow-color: #FBFBF9; }

THEAD { background-color: #FFFCCF; COLOR: #b20000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold;}

TBODY.dark { background-color: #ECDFB1; COLOR="#000066"; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold;}

TD.light { background-color: #FFFCCF; COLOR: #b20000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; FONT-WEIGHT: bold;}

TD.button { BORDER-RIGHT: #413A34 0px solid; BORDER-TOP: #14140E 0px solid; BORDER-LEFT: #14140E 0px solid; COLOR: #ffffff; BORDER-BOTTOM: #413A34 0px solid; BACKGROUND-COLOR: #297C57; }